input[type=text] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}

input[type=number] {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
}

.charsheet {
  padding: 10px;
}

.sheet-character {
  display: grid;
  grid-template-columns: 720px;
  gap: 8px;
  grid-template-areas: "header" "values" "stats" "skills" "faculties" "healths";
}
.sheet-character .sheet-header {
  grid-area: header;
}
.sheet-character .sheet-values {
  grid-area: values;
}
.sheet-character .sheet-stats {
  grid-area: stats;
}
.sheet-character .sheet-skills {
  grid-area: skills;
}
.sheet-character .sheet-faculty {
  grid-area: faculty;
}
.sheet-character .sheet-health {
  grid-area: health;
}

.sheet-header {
  padding: 8px;
  border: 1px solid black;
  display: grid;
  grid-template-areas: "character-title empty" "character-name age" "job rank" "god culture" "player-name xp";
  grid-template-columns: 350px 350px;
  grid-row-gap: 8px;
  grid-column-gap: 16px;
}
.sheet-header .sheet-label {
  font-size: 18px;
  display: inline-block;
  min-width: 60px;
}
.sheet-header .sheet-character-title {
  grid-area: character-title;
}
.sheet-header .sheet-character-name {
  grid-area: character-name;
}
.sheet-header .sheet-job {
  grid-area: job;
}
.sheet-header .sheet-god {
  grid-area: god;
}
.sheet-header .sheet-player-name {
  grid-area: player-name;
}
.sheet-header .sheet-age {
  grid-area: age;
}
.sheet-header .sheet-rank {
  grid-area: rank;
}
.sheet-header .sheet-culture {
  grid-area: culture;
}
.sheet-header .sheet-xp {
  grid-area: xp;
}
.sheet-header .sheet-character-name,
.sheet-header .sheet-job,
.sheet-header .sheet-god,
.sheet-header .sheet-player-name,
.sheet-header .sheet-age,
.sheet-header .sheet-rank,
.sheet-header .sheet-culture,
.sheet-header .sheet-xp {
  display: grid;
  grid-template-columns: 100px 1fr;
}
.sheet-header .sheet-character-name input,
.sheet-header .sheet-job input,
.sheet-header .sheet-god input,
.sheet-header .sheet-player-name input,
.sheet-header .sheet-age input,
.sheet-header .sheet-rank input,
.sheet-header .sheet-culture input,
.sheet-header .sheet-xp input {
  width: 180px;
  border: 0;
  border-bottom: 1px solid black;
}
.sheet-header .sheet-character-name select,
.sheet-header .sheet-job select,
.sheet-header .sheet-god select,
.sheet-header .sheet-player-name select,
.sheet-header .sheet-age select,
.sheet-header .sheet-rank select,
.sheet-header .sheet-culture select,
.sheet-header .sheet-xp select {
  width: 150px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sheet-values {
  padding: 8px;
  border: 1px solid black;
  display: grid;
  grid-template-areas: "value-title empty empty" "value-virtue value-fides value-pietas" "virtue-comportement fides-comportement pietas-comportement";
  grid-template-columns: 238px 238px 238px;
  grid-row-gap: 8px;
  grid-column-gap: 16px;
}
.sheet-values .sheet-value-title {
  grid-area: value-title;
}
.sheet-values .sheet-value-virtue {
  grid-area: value-virtue;
}
.sheet-values .sheet-value-fides {
  grid-area: value-fides;
}
.sheet-values .sheet-value-pietas {
  grid-area: value-pietas;
}
.sheet-values .sheet-virtue-comportement {
  grid-area: virtue-comportement;
}
.sheet-values .sheet-fides-comportement {
  grid-area: fides-comportement;
}
.sheet-values .sheet-pietas-comportement {
  grid-area: pietas-comportement;
}

.sheet-characteristics {
  padding: 8px;
  border: 1px solid black;
  display: grid;
  grid-template-areas: "title title title" "const charac per" "dex rel spirit";
  grid-template-columns: 238px 238px 238px;
  grid-row-gap: 8px;
  grid-column-gap: 16px;
}
.sheet-characteristics .sheet-characteristics-title {
  grid-area: title;
}
.sheet-characteristics .sheet-characteristics-const {
  grid-area: const;
}
.sheet-characteristics .sheet-characteristics-char {
  grid-area: charac;
}
.sheet-characteristics .sheet-characteristics-per {
  grid-area: per;
}
.sheet-characteristics .sheet-characteristics-dex {
  grid-area: dex;
}
.sheet-characteristics .sheet-characteristics-rel {
  grid-area: rel;
}
.sheet-characteristics .sheet-characteristics-spirit {
  grid-area: spirit;
}

.sheet-skills {
  padding: 4px;
  border: 1px solid black;
  display: grid;
  grid-template-areas: "title title title" "virtue fides pietas";
  grid-template-columns: 238px 238px 238px;
  grid-row-gap: 4px;
  grid-column-gap: 0px;
}
.sheet-skills .sheet-skill-title {
  grid-area: title;
}
.sheet-skills .sheet-virtue-skills {
  grid-area: virtue;
}
.sheet-skills .sheet-fides-skills {
  grid-area: fides;
}
.sheet-skills .sheet-pietas-skills {
  grid-area: pietas;
}
.sheet-skills .sheet-skill {
  display: grid;
  grid-template-columns: 80px 152px;
  align-items: center;
  justify-items: left;
}
.sheet-skills .sheet-skill .sheet-skill-levels {
  font-size: 8px;
}
.sheet-skills .sheet-skill .sheet-skill-label {
  font-size: 11px;
}

.sheet-faculties,
.sheet-healths {
  padding: 8px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 238px 238px 238px;
  grid-row-gap: 8px;
  grid-column-gap: 16px;
}

.sheet-value-level,
.sheet-characteristic-level,
.sheet-skill-level,
.sheet-faculty-level {
  display: none;
}

.sheet-notes textarea {
  width: 100%;
  min-height: 500px;
}

/*Configure the tab buttons*/
.sheet-character,
.sheet-equipment,
.sheet-notes {
  display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value=character] ~ div.sheet-character,
.sheet-tabstoggle[value=equipment] ~ div.sheet-equipment,
.sheet-tabstoggle[value=notes] ~ div.sheet-notes {
  display: grid;
}

/*# sourceMappingURL=style.css.map */
